# Importer des données dans MariaDB avec GdeltDoc

Ce notebook guide l'importation de données GDELT dans une base MariaDB en utilisant les bibliothèques appropriées.

## 1. Importer les bibliothèques nécessaires

Nous allons importer `mariadb`, `pandas`, ainsi que `GdeltDoc` et `Filters` pour manipuler les données GDELT.

In [1]:
import mariadb
import pandas as pd
from gdeltdoc import GdeltDoc, Filters

## 2. Configurer la connexion à MariaDB

Définissons les paramètres de connexion à la base MariaDB dans un dictionnaire.

In [6]:
DB_CONFIG = {
    "host": "localhost",
    "user": "florent",           
    "password": "2003",  
    "database": "gdelt_db"
}

## 3. Se connecter à la base de données

Établissons la connexion à MariaDB en utilisant les paramètres définis.

In [7]:
# ...existing code...
try:
    conn = mariadb.connect(**DB_CONFIG)
    print("Connexion réussie à MariaDB.")
except mariadb.Error as e:
    print(f"Erreur lors de la connexion à MariaDB: {e}")
# ...existing code...

Connexion réussie à MariaDB.

## 4. Exécuter une requête de test

Vérifions la connexion en exécutant une requête simple : `SELECT VERSION()`.

In [8]:
cur = conn.cursor()
cur.execute("SELECT VERSION()")
version = cur.fetchone()
print("Version de MariaDB :", version[0])

Version de MariaDB : 12.0.2-MariaDB

## 5. Importer des données avec GdeltDoc

Téléchargeons et préparons des données GDELT à l'aide de GdeltDoc et Filters.

In [ ]:
from gdeltdoc import GdeltDoc, Filters, near, repeat

f = Filters(
    start_date = "2020-05-01",
    end_date = "2025-05-02",
    num_records = 250,
    keyword = "climate change",
    # domain = ["bbc.co.uk", "nytimes.com"],
    # country = ["UK", "US"],
    # theme = "GENERAL_HEALTH",
    # near = near(10, "airline", "carbon"),
    #repeat = repeat(3, ""),
    language= "ENGLISH"
)

gd = GdeltDoc()

# Search for articles matching the filters
articles = gd.article_search(f)

# Get a timeline of the number of articles matching the filters
timeline = gd.timeline_search("timelinevol", f)

articles.head(20)

## 6. Insérer des données dans MariaDB

Insérons les données récupérées dans une table MariaDB à l'aide de pandas ou du curseur MariaDB.

In [ ]:
# Exemple d'insertion avec pandas (nécessite la table 'gdelt_events' déjà créée)
df_gdelt.to_sql('gdelt_events', con=conn, if_exists='append', index=False)
print("Données insérées dans la table gdelt_events.")